<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/advanced_paint</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">toor</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="main.model.User"/>
        <mapping class="main.model.model.shape.Circle"/>
        <mapping class="main.model.model.shape.Rectangle"/>
        <mapping class="main.model.model.shape.Line"/>
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Circle.hbm.xml"/>
        <mapping resource="Rectangle.hbm.xml"/>
        <mapping resource="Line.hbm.xml"/>

    </session-factory>
</hibernate-configuration>