<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="file" fileName="logs/log">
            <PatternLayout pattern="%d [%t] %level %logger - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <appender-ref ref="file" />
        </Root>
        <logger name="main" level="TRACE" />
    </Loggers>
</Configuration>